
@import 'vars';
@import 'fonts';
@import 'libs';
@import 'reset';
@import 'global';

.header{
  background-color: #1E1717;
  min-height: 90px;
}
.header__inner{
display: flex;
justify-content: space-between;
align-items: center;
}
.logo{
  &__img{
    padding-top: 10px;
  }
}
.menu{
&__list{
display: flex;
justify-content: flex-end;
color: #fff;

}
&__item{
padding-top: 40px;
}
&__btn{
  display: none;
}
&__list-link{
margin-top: 40px;
padding-left: 50px;
cursor: pointer;
color: #fff;
align-items: center;
 }
&__list-link:hover{
  color: #FFA318;
  font-weight: 700;
}
}
.search{
  margin-top: 30px;
  cursor: pointer;
 }
 .search:hover{
  border-bottom: 1px solid #fff;
 }

.splash{
  background-color: #3E3A3A;
  img{
    max-height: 100%;
  }
&__container{
  max-width: 100%;
  height: 80%;
}
&__item{
  position: relative;
}
&__content{
position: absolute;
margin: auto;
top: 10%;
left: 14%;
}
&__title{
  max-width: 500px;
  margin-top: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}
&__subtitle{
padding-top: 300px;
}
&__text{
max-width: 500px;
margin-top: 40px;
 }
}
.slick-dots{
  display: flex;
  justify-content: center;
  margin-top: -70px;
  li{
    line-height: 0;
    padding: 0 5px;
    button{
      cursor: pointer;
      padding: 0;
      font-size: 0;
      background-color: transparent;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 1px solid #FFA318;
      position: relative;
      &::before{
        content:'';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #FFA318;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &.slick-active{
      button{
        border-color: #FFA318;
        &::before{
          background-color: #FFA318;
        }
      }
    }
  }
}
.about{
  background-color: #3E3A3A;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__photo{
    margin-top: 80px;
    max-width: 570px;
    height: 700px;
    box-shadow: 10px 10px 25px 10px rgba(0, 0, 0, 0.3);
  }
  &__title{
    margin-bottom: 30px;
  }
  &__text:hover{
   border-bottom: 1px solid #fff;
   cursor: pointer;
  }
  &__info{
    padding-left: 35px;
  }
  &__subtitle{
    margin-top: 260px;
  }
}
.block{
  &__inner{
    text-align: center;
    margin-top: 120px;
  }
  &__section{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    margin-top: 90px;
  }
  &__item{
    position: relative;
    max-width: 350px;
    height: 378px;
    background-color: #1E1717;
    padding: 170px 50px 100px 50px;
    margin-bottom: 140px;
    &:hover{
      box-shadow: 10px 10px 25px 10px rgba(0, 0, 0, 0.3);
    }
  }
  &__item::before{
  content: '';
  position: absolute;
  top: 40px;
  width: 80px;
  height: 100px;
  right: 130px;
  background-repeat: no-repeat;
  }
  .block__item--shoes::before{
    background-image: url('../images/shoes.svg');
  }
  .block__item--bag::before{
    background-image: url('../images/flat.svg');
    
  }
  .block__item--tshirt::before{
    background-image: url('../images/tshirt.svg');
  }
}
.gallery{
  background-color: #1E1717;
  width: 100%;
  &__title{
    text-align: center;
    margin-bottom: 90px;
  }
  &__subtitle{
    padding-top: 100px;
  }
  &__inner{
    display: grid;
    max-width: 1195px;
    max-height: 700px;
    grid-template-columns: 570px 625px;
    grid-template-rows: repeat (auto-fit, minmax(2, 1fr));
  }
  &__item:nth-child(1){
    grid-row: span 2;
  }
  &__item{
  cursor: pointer;
  display: inline-block;
	position: relative;    
	line-height: 0;
  }
  &__item:hover:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;    
	left: 0;   
	background: transparent;
	background-image: linear-gradient(to left, #0e0e0eea, #131313b7);    
	opacity: 0.8;    
}
&__item:hover:before {
	content: "";
	display: inline-block;
	width: 52px;
	height: 52px;
	margin: -26px 0 0 -26px;  
	position: absolute;    
	top: 50%;
	left: 50%;    
	background: url(https://snipp.ru/img/plus.png) 0 0 no-repeat;
	z-index: 100;
}
}
.our{
    padding-top: 120px;
    padding-bottom: 180px;
    background-color: #3E3A3A; 
  &__content{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__number-title--1,
  .our__number-title--2
  {
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    position: relative;
    margin-bottom: 30px;
  }
  &__number-title--2{
    margin-top: 30px;
  }
  &__number-title--1::before{
   content:'20';
   position: absolute;
   color: #FFA318;
   font-size: 36px;
   font-weight: 700;
   margin-left: -65px;
  }
    &__number-title--2::before{
   content:'1239';
   position: absolute;
   color: #FFA318;
   font-size: 36px;
   font-weight: 700;
   margin-left: -100px;
  }
  &__number{
   max-width: 460px;
  }
  &__button{
   margin-top: 140px;
  }
}
.our-comments{
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  &__block{
  max-width: 560px;
  height: 290px;
  background-color: #1E1717;
  padding: 68px 70px 120px 170px;
  }
  &__block p{
    margin-top: 15px;
  }
  &__link{
    position: relative;
    color: #FFA318;
    &:hover{
      color: #fff;
    }
  }
  &__link-1{
        &::before{
      content: '';
      position: absolute;
      margin-left: -130px;  
      width: 100px;
      height: 100px;
      background-image: url('../images/icon-1.png');
    }
  }
    &__link-2{
        &::before{
      content: '';
      position: absolute;
      margin-left: -130px;  
      width: 100px;
      height: 100px;
      background-image: url('../images/icon-2.png');
    }
  }
}
.modeling{
  background-image: url('../images/modeling.jpg');
  max-width: 100%;
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  &__inner{
  text-align: center;
  padding-top: 45px;
  max-width: 620px;
  margin: auto;
  }
  &__text{
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 40px;
    color: #FFA318;
  }
  &__button{
    margin-top: 20px;
    color: black;
  }
}
.team{
  background-color: #1E1717;
  &__subtitle{
    padding-top: 100px;
    text-align: center;
  }
  &__title{
    text-align: center;
    margin-bottom: 100px;
  }
  &__portfolio{
    display: flex;
    justify-content: space-between;
    padding-bottom: 270px;
  }
  &__link{
  display: inline-block;
	position: relative;    
	line-height: 0;
  }
  &__link:hover:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;    
	left: 0;   
	background: transparent;
	background-image: linear-gradient(to left, #0e0e0eea, #131313b7);    
	opacity: 0.5;    
}
&__link:hover:before {
	content: "";
	display: inline-block;
	width: 52px;
	height: 52px;
	margin: -26px 0 0 -26px;  
	position: absolute;    
	top: 50%;
	left: 50%;    
	background: url(https://snipp.ru/img/plus.png) 0 0 no-repeat;
	z-index: 100;
}
}
.footer{
  background-color: #3E3A3A;
  &__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
  }
  &__logo{
    margin-bottom: 60px;
  }
  &__address{
    margin-top: 50px;
  }
  &__title{
    font-weight: 400;
    margin-bottom: 50px;
  }
  &__title-1{
    font-weight: 400;
    margin-bottom: 20px;
  }
  &__item{
    max-width: 280px;
        & p{
      margin-bottom: 20px;
    }
  }
  &__item-1{
    max-width: 210px;
        & p{
      margin-bottom: 20px;
    }
  }
  &__input{
    background-color: inherit;
    border: 1px solid #fff;
    max-width: 100%;
    height: 50px;
    }
  &__button{
    margin-top: 20px;
    max-width: 170px;
  }
  &__links a{
    display: block;
    margin-bottom: 20px;
    color: #fff;
    &:hover{
      color: #FFA318;
    }
  }
}





 

@import 'media';

@media (max-width: 1250px){
.splash{
  &__content{
  top: 0;
 }
}
.about__button{
  display: block;
 }
 .gallery{
   height: 100% ;
 &__inner{
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  &__item{
    max-width: 500px;
    margin-bottom: 30px;
  }
  &__item-1{
    display: none;
  }
 }
}
@media (max-width: 1106px){
.block__item{
  margin: 0 auto;
  margin-bottom: 30px;
 }
 .block__section{
   flex-direction: column;
   margin: 0 auto;
   margin-top: 30px;
 }
}

@media (max-width: 1000px){
  .splash{
    &__subtitle{
    padding-top: 250px;
    } 
    &__content{
    left: 10px;
    }
  }
.title {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}
.text {
  font-size: 14px;
  margin-bottom: 10px;
}

.button{
display: none;
}
.footer__button{
  display: block;
}
.slick-dots{
  display: none !important;
  }
.about{
  &__info{
    padding-left: 0;
  }
  &__photo{
    display: none;
  }
  &__subtitle{
    text-align: center;
    margin-top: 50px;
  }
  &__title{
    text-align: center;
  }
  &__button{
    display: block;
    margin: 30px auto;
  }
 }
 .block{
   &__inner{
     margin-top: 25px;
   }
   &__item{
     padding: 150px 20px 10px 20px;
     max-width: 343px;
     height: 288px;
     margin-top: 10px;
   }
   &__section{
     padding-left: 0;
   }
 }
 .gallery{
   &__subtitle{
     padding-top: 60px;
   }
 }
 .team__portfolio{
 flex-direction: column;
 
}
.team__photo{
  margin: 0 auto;
  padding-bottom: 30px;
}
.our{
  padding-bottom: 100px;
}
.footer{
  &__inner{
    flex-wrap: wrap;
  }
  &__item{
   padding-left: 20px;
  }
  .footer__social{
    padding-left: 20px;
  }
}
}

@media (max-width: 860px){
.menu{
  &__btn{
    background-color: #fff;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    align-items: center;
  }
  &__item{
    padding: 20px  0;
    width: 100%;
    text-align: center;
  }
  &__list{
    transform: translateY(-150%);
    left: 0;
    position: absolute;
    width: 100%;
    margin-top: 30px;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    background-color: #1E1717;
    transition: all 0.3s;
  }
  &__list.menu__list--active{
    transform: translateY(0%);
    transition: all 0.3s;
  }
  &__list-link{
    display: block;
    &:hover{
      border-bottom: 1px solid #fff;
      width: 100%;
    }
  }
}
  .splash__content{
    left: 10px;
    top: 80px;
  }
  .splash__subtitle{
    padding-top: 100px;
  }
  .user-nav{
  display: none;
  }
  .our__content{
    flex-direction: column;
    padding-left: 100px;
  }
  .our-comments{
    flex-direction: column;
    margin-top: 70px;
  }
  .our-comments__block{
    flex-wrap: wrap;
    max-width: 560px;
    height: 200px;
  }
  .team__portfolio{
    padding-bottom: 100px;
  }
 }

@media (max-width: 700px){
  .splash__subtitle{
  padding-top: 50px;
  }
  .footer__inner{
    flex-direction: column;
  }

}

@media (max-width: 450px){
  .splash{
    &__text{
    display: none;
  }
  &__subtitle{
  font-size: 12px;
  }
  &__title{
    margin-top: 10px;
  }
    &__content{
      left: 10px;
      top: 50px;
    max-width: 350px;
  }
  &__button{
    display: none;
  }
}
  .button{
    margin-top: 15px;
  }
  .our-comments__link-1::before,
  .our-comments__link-2::before{
    display: none;
  }
  .our-comments__block{
    height: 130px;
    padding: 20px 20px 0px 20px;
  }
  .team__photo{
    padding-bottom: 10px;
  }
  .team__title{
    margin-bottom: 70px;
  }
  .our__t{
    display: block;
  padding-left: 0;
  }
    .footer__insta{
    margin-bottom: 20px;
  }
}

@media (max-width: 380px){
  .splash{
  &__subtitle{
  padding-top: 20px;
  }
  &__content{
    left: 5%;
  }
}
  .button{
  font-size: 12px;
  }
 }
